---

---

<article class="max-w-lg">
    <a href="#" title="Cousnay">
        <img class="w-10 h-10 object-cover rounded-md border-2 border-[#fca311] animate-bounce" src="/public/image/IMG_8888.JPG" alt="cousnay profile">
    </a>
    <section>
        <div class="my-1">
            <p class="text-base text-[#adb5bd]">Builder</p>
            <div class="social text-sm mt-1 flex gap-2">
                <a href="https://x.com/Cousnay" target="_blank" class="hover:text-[#adb5bd]">Twitter</a>
                <a href="https://github.com/Disney-Banje" target="_blank" class="hover:text-[#adb5bd]">GitHub</a>
            </div>
        </div>
        <p class="text-2xl my-5">
           Hi! I'm <strong class="text-[#ced4da]">Cousnay</strong> with a passion of building & creating things with my computer.
        </p>
    </section>
</article>